<form action="/favourites" method="post">
  <input type="hidden" name="homeId" value="<%= home.id %>">
  <button type="submit"
    class="bg-red-500 -600 text-white p-2 text-small rounded-lg font-semibold shadow-md hover:bg-red-700 hover:shadow-lg transition duration-300 w-25">
    Add to Favourites
  </button>
</form>