<form action="/favourites" method="post" class="flex-1">
  <input type="hidden" name="homeId" value="<%= home._id %>">
  <button type="submit" class="w-full bg-gradient-to-r from-red-600 to-red-800 text-white p-2 text-sm md:text-base rounded-lg font-semibold shadow-md 
                     hover:from-red-700 hover:to-red-900 hover:shadow-lg 
                     transition duration-300 transform hover:scale-105
                     focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-900 mb-2 md:mb-0">
    Add to Favourites
  </button>
</form>